form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form-field-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

p {
  margin: 0;
}

.dynamic-number {
  display: flex;
  flex: row;
  gap: 10px;
}

.dynamic-number-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
