form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form-field-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
